 <section class="card home">

 <div class="centerAlign" >
	

	<svg id="tagButton" width="360" height="360"  ng-click="record()" >
		<!-- Main Circle -->
		<circle cx="200" cy="200" r="160"  stroke-width="4" style="fill:rgb(255,255,255);" />

		<!-- Tv Frame -->
		<rect x="108" y="160" width="184" height="140" style="fill:rgb(255,255,255);stroke-width:6;stroke:rgb(0,0,0)" />

		<!-- TV Screen -->
		<rect x="128" y="180" width="112" height="100" style="fill:rgb(255,255,255);stroke-width:3;stroke:rgb(0,0,0)" />

		<!-- Screen Colours -->
		<rect x="128" y="180" width="16" height="100" style="fill:rgb(255,255,255);" />
		<rect x="144" y="180" width="16" height="100" style="fill:rgb(255,255,0);"/>
		<rect x="160" y="180" width="16" height="100" style="fill:rgb(0,255,255);"/>
		<rect x="176" y="180" width="16" height="100" style="fill:rgb(0,255,100);" />
		<rect x="192" y="180" width="16" height="100" style="fill:rgb(255,100,255);" />
		<rect x="208" y="180" width="16" height="100" style="fill:rgb(255,0,0);" />
		<rect x="224" y="180" width="16" height="100" style="fill:rgb(0,0,255);" />


		<rect x="128" y="260" width="16" height="20" style="fill:rgb(0,0,255);" />
		<rect x="144" y="260" width="16" height="20" style="fill:rgb(0,0,0);" />
		<rect x="160" y="260" width="16" height="20" style="fill:rgb(255,100,255);" />
		<rect x="176" y="260" width="16" height="20" style="fill:rgb(0,0,0);" />
		<rect x="192" y="260" width="16" height="20" style="fill:rgb(0,255,255);"/>
		<rect x="208" y="260" width="16" height="20" style="fill:rgb(0,0,0);" />
		<rect x="224" y="260" width="16" height="20" style="fill:rgb(255,255,255);" />


		<!-- Areal Base -->
		<path d="M 140 160 q 60 -60 120 0" stroke="black" stroke-width="1" fill="black" />

		<!-- Areal -->
		<polyline points="160,75 85,120 170,140" style="fill:none;stroke:black;stroke-width:8 " />
		<polyline points="290,100 240,75 230,140" style="fill:none;stroke:black;stroke-width:8" />
		<circle cx="160" cy="75" r="20" stroke-width="8" fill="black" />
		<circle cx="290" cy="100" r="20" stroke-width="8" fill="black" />

		<!-- Buttons -->
		<circle cx="265" cy="200" r="15" stroke="black" stroke-width="2"  fill="white" />
		<circle cx="265" cy="250" r="15" stroke="black" stroke-width="2" fill="white"/>
		<line x1="250" y1="192" x2="280" y2="208" stroke="black" stroke-width="5" />
		<line x1="265" y1="265" x2="265" y2="235" stroke="black" stroke-width="5" />
	</svg> 
	</div>


 <div class="centerText" >
   <h1>Press To Tag Your Show Or Movie</h1>


 </div>

</section>
	