 <section class="card home">
<div class="centerAlign">
 <div >
	

	<svg id="tagButton" width="480" height="480"  ng-click="record()" >
		<!-- Main Circle -->
		<circle cx="240" cy="240" r="240"  stroke-width="4" style="fill:rgb(255,255,255);" />

		<!-- Tv Frame -->
		<rect x="80" y="160" width="320" height="240" style="fill:rgb(255,255,255);stroke-width:10;stroke:rgb(0,0,0)" />

		<!-- TV Screen -->
		<rect x="100" y="180" width="230" height="200" style="fill:rgb(255,255,255);stroke-width:7;stroke:rgb(0,0,0)" />

		<!-- Screen Colours -->
		<rect x="100" y="180" width="33" height="200" style="fill:rgb(255,255,255);" />
		<rect x="133" y="180" width="33" height="200" style="fill:rgb(255,255,0);"/>
		<rect x="166" y="180" width="33" height="200" style="fill:rgb(0,255,255);"/>
		<rect x="199" y="180" width="33" height="200" style="fill:rgb(0,255,100);" />
		<rect x="232" y="180" width="33" height="200" style="fill:rgb(255,100,255);" />
		<rect x="265" y="180" width="33" height="200" style="fill:rgb(255,0,0);" />
		<rect x="297" y="180" width="33" height="200" style="fill:rgb(0,0,255);" />


		<rect x="100" y="340" width="33" height="40" style="fill:rgb(0,0,255);" />
		<rect x="133" y="340" width="33" height="40" style="fill:rgb(0,0,0);" />
		<rect x="166" y="340" width="33" height="40" style="fill:rgb(255,100,255);" />
		<rect x="199" y="340" width="33" height="40" style="fill:rgb(0,0,0);" />
		<rect x="232" y="340" width="33" height="40" style="fill:rgb(0,255,255);"/>
		<rect x="265" y="340" width="33" height="40" style="fill:rgb(0,0,0);" />
		<rect x="297" y="340" width="33" height="40" style="fill:rgb(255,255,255);" />


		<!-- Areal Base -->
		<path d="M 140 160 q 90 -70 180 0" stroke="black" stroke-width="1" fill="black" />

		<!-- Areal -->
		<polyline points="100,95 155,50 230,150" style="fill:none;stroke:black;stroke-width:12 " />
		<polyline points="350,105  300,50 240,140" style="fill:none;stroke:black;stroke-width:12" />
		<circle cx="100" cy="95" r="20" stroke-width="12" fill="black" />
		<circle cx="350" cy="100" r="20" stroke-width="12" fill="black" />

		<!-- Buttons -->
		<circle cx="360" cy="240" r="20" stroke="black" stroke-width="6"  fill="white" />
		<circle cx="360" cy="320" r="20" stroke="black" stroke-width="6" fill="white"/>
		<line x1="350" y1="232" x2="370" y2="248" stroke="black" stroke-width="9" />
		<line x1="360" y1="332" x2="360" y2="308" stroke="black" stroke-width="9" />
	</svg>

	</div>


 <div  >
   <h1 >Press To Tag Your Show Or Movie</h1>
	 
 </div>
</div>
</section>
	