 <section class="card top20">
 <div style="margin-top:9%; padding-top:1%"  >

	 <section layout="row" style="text-align: center; " layout-sm="column" layout-align="center center">
	  <md-button class="groupX left"  ng-click="top20('top20')">All</md-button>
	  <md-button class="groupX middle"  ng-click="top20('mtop20')">Movies</md-button>
	  <md-button class="groupX middle"  ng-click="top20('stop20')">Series</md-button>
	  <md-button class="groupX right"  ng-click="top20('etop20')">Episodes</md-button>
	 </section>


	<div style="clear:both;">


	<table cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed; width: 100%;">
		<tbody>
		<tr  class="column" ng-repeat="column in list" height="30%" style="display:block;">
		<td width="35%">
			<img  src="{{column[3]}}" ng-click="retrieve(column[0])" height="50%"  width="100%">
		</td>
		<td width="65%">
			<h1>{{column[1]}}</h1>
			<h2>({{column[4]}})</h2><br>
			<h4>{{column[6]}}</h4><br><br>
			<h5>IMDB RATING : {{column[2]}}</h5>
		</td>
		</tr>
		</tbody>
	</table>
	</div>

</div>
</section>