 <section class="card top20">
 <div style="margin-top:100px;" align="center">


	 <button class="btn btn-default" ng-click="top20('top20')" style="float:left">All</button>
	 <button class="btn btn-default" ng-click="top20('mtop20')" style="float:left">Movies</button>
	 <button class="btn btn-default" ng-click="top20('stop20')" style="float:left">Series</button>
	 <button class="btn btn-default" ng-click="top20('etop20')" style="float:left">Episodes</button>


	<div class="column" ng-repeat="column in list" style="display:block;">

		<img  src="{{column[3]}}"  >
		<h1>{{column[1]}}</h1>
		<h2>{{column[4]}}</h2>
		<h3>IMDB RATING : {{column[2]}}</h3>
        <br>
    </div>

 </div>
</section>